@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter-Regular.ttf');
}

html {
    background-image: url('./assets/wavez.png') !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-position: center;
    background-size: cover;
}

.spaced {
    letter-spacing: 3px;
}

.font-display {
    font-family: 'Inter';
}

.nexus-link::before {
    content: '❱ ';
}

.nexus-link {
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
    width: fit-content;
}
